* {
  margin: 0;
  padding: 0;
  /* background-color: grey; */
}

/* For Carousel */
.carousel-images {
  height: 70vh;
}

/* Carousel indicators */
.indicators-location {
  margin-top: 20em !important;
  position: absolute;
  top: 8.5em;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(64, 66, 66);
}

.carousel-indicators .active {
  opacity: 1;
  background-color: rgb(3, 207, 243);
}

/* Carousel buttons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(66, 65, 65);
  border-radius: 50%;
  padding: 0.7em;
}

/* Footer */
.footer-text {
  margin-top: 1em;
  margin-bottom: 1em;
}
.footer-text p {
  margin: 0;
  padding: 0;
  margin-left: 6em;
}
/* Footer social media links */

.footer-social {
  margin-top: 1em;
}

.social-links {
  margin-left: 1em;
  text-decoration: none;
  color: whitesmoke;
  opacity: 0.95;
}

.social-links:hover {
  text-decoration: none;
  color: whitesmoke;
  opacity: 0.65;
}

.social-links i {
  font-size: 0.7em;
}

.to-top {
  margin: auto;
  position: relative;
  right: 2em;
  bottom: 1em;
  float: right;
}
.to-top a {
  font-size: 1.5em;
}

/* Media queries */
@media screen and (max-width: 450px) {
  .carousel-images {
    height: 40vh;
  }
  .indicators-location {
    margin-top: 12em !important;
    top: 1em;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
  }

  /* Working on grid */
  .add-row {
    width: 100% !important;
    display: block !important;
    margin-bottom: 2em;
  }

  .hide-column {
    display: none;
  }

  .remove-row {
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .footer-text p {
    margin-left: 1em;
    font-size: 0.7em;
  }
  .footer-social {
    margin-top: 0.3em;
  }

  .social-links {
    margin-left: 0.5em;
    opacity: 0.95;
  }

  .social-links i {
    font-size: 0.5em;
  }

  .to-top {
    right: 2em;
    bottom: 1em;
  }

  .to-top a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .indicators-location {
    margin-top: 15em !important;
    top: 1em;
  }
  .carousel-images {
    height: 40vh;
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
  }
  /* Working on grid */
  .add-row {
    width: 100% !important;
    display: block !important;
    margin-bottom: 2em;
  }

  .hide-column {
    display: none;
  }

  .remove-row {
    margin: 0 !important;
    padding: 0 !important;
  }

  .footer-text {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .footer-text p {
    margin-left: 1em;
    font-size: 0.8em;
  }
  .footer-social {
    margin-top: 0.3em;
  }

  .social-links {
    margin-left: 0.5em;
    opacity: 0.95;
  }

  .social-links i {
    font-size: 0.7em;
  }

  .to-top {
    right: 2em;
    bottom: 1em;
  }

  .to-top a {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 993px) {
  /* For Navbar */
  .nv-items {
    margin-left: 20em;
    /* padding-left: 1em; */
    width: 1em;
  }

  .nv-item {
    color: white !important;
    opacity: 1 !important;
    font-weight: bold;
    transition: 0.25s ease-in-out;
  }

  .nv-item:hover {
    opacity: 0.75 !important;
    border-bottom: 5px solid rgb(158, 161, 161);
    border-radius: 0.3em;
  }

  .nv-item-active {
    color: white !important;
    opacity: 1 !important;
    font-weight: bold;
    transition: 0.25s ease-in-out;
    background-color: rgb(69, 216, 241);
    border-bottom: 5px solid rgb(69, 216, 241);
  }
}
